*{
    margin: 0;
    padding: 0;
    box-sizing: 70%;
    text-decoration: none;
}

html{
    font-size: 62.5%;
}

body{
    font-size: 1.4rem;
    padding-top: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1E2337;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

@keyframes rainbow-bg{
    100%,0%{
        color: rgb(255,0,0);
    }
    8%{
        color: rgb(255,127,0);
    }
    16%{
        color: rgb(255,255,0);
    }
    25%{
        color: rgb(127,255,0);
    }
    33%{
        color: rgb(0,255,0);
    }
    41%{
        color: rgb(0,255,127);
    }
    50%{
        color: rgb(0,255,255);
    }
    58%{
        color: rgb(0,127,255);
    }
    66%{
        color: rgb(0,0,255);
    }
    75%{
        color: rgb(127,0,255);
    }
    83%{
        color: rgb(255,0,255);
    }
    91%{
        color: rgb(255,0,127);
    }
}

@keyframes rebond{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}

h1{
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
    font-size: xx-large;
}
.page{
    display: flex;
    
}

.game{
    align-items: center;
}

.affButt{
    display: flex;
    align-items: center;
    width: auto;
    justify-content: space-around;
    padding-top: 5rem;
}

.affButt__rouge{
    display: flex;
    background-color: red;
    font-size: large;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: white;
    justify-content: center;
    align-items: center;
    transition: 0.45s;
}

.affButt__rouge:active{
    background-color: rgb(145, 0, 0);
}

.affButt__vert{
    display: flex;
    background-color: green;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.4s;
}
.affButt__vert:hover{
    background-color: rgb(0, 90, 0);
}

.affButt__vert:active{
    background-color: rgba(0, 90, 0, 0);
}

.affButt__vert__mult{
    padding-top: 1.5rem;
    font-size: 2rem;
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
}

.affButt_cookie img{
    display: flex;
    align-items: center;
    height: 50%;
    width: 50%;
    margin: 0 auto;
    border-radius: 10%;
}

.affButt_cookie img:hover{
    animation: rebond 0.45s ease infinite alternate;
}

.compteur{
    margin: 7rem auto;
    color: bisque;
    background-color: #424242;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15%;
    width: 20rem;
}

.compteur__score{
    margin-top: 1.5rem;
    font-size: 2rem;
    animation: rainbow-bg 2.5s linear;
    animation-iteration-count: infinite;
}

.publish{
    margin: 0 auto;
    color: bisque;
    background-color: #424242;
    padding: 2rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 15%;
    width: 20rem;
}

.publish__nom{
    background-color: rgb(129, 129, 129);
    border-radius: 30px;
    border: none;
    text-align: center;
    color: purple;
    margin: 1.5rem 0 1.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 0.5rem 0 0.5rem 0;
}

.publish__butt{
    margin: 0.3rem 0 0.3rem 0;
    border: none ;
    color: bisque;
    padding: 1.5rem 2rem;
    border-radius: 30px;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(98, 0, 255);
    transition: 0.2s;
}

.publish__butt:hover {
    box-shadow: 10px 12px 10px 0 rgba(0,0,0,0.24);
}

.publish__butt:active{
    box-shadow: 5px 5px 10px 0 rgba(0,0,0,0.24);
    transform: translateY(3px) translateX(2px);
}

footer {
    background-color: #000;
    position: absolute;
    bottom: 0;
    text-align: center;
    color: rgb(255, 255, 255);
    width: 100%;
    height: auto;
    padding:2% 0% 2% 0%;
    font-size: 1.3rem;
}

.lien_site {
    color: rgb(255, 255, 255);
    text-decoration: underline;
    transition: 0.4s;
}

.lien_site:hover {
    color: rgb(126, 126, 126);
}

.lien_site:visited {
    color: rgb(255, 255, 255);
}